:host {
    --container-text-align: center;

    --image-margin-left: auto;
    --image-margin-right: auto;
    --image-float: none;

    --content-justify-content: center;
    --content-float: none;
    --content-main-heading-margin-top: 1rem;
    --content-secondary-heading-margin-bottom: 1rem;
    --content-list-margin-bottom: 1.5rem;

    --contact-me-float: none;
    --contact-me-margin-top: 0;

    background-color: var(--app-surface);
    padding: 30px 0;
}

.container {
    text-align: var(--container-text-align);
}

.profile {
    &-image {
        display: flex;
        float: var(--image-float);
        border-radius: 50%;
        margin-left: var(--image-margin-left);
        margin-right: var(--image-margin-right);
    }

    &-content {
        float: var(--content-float);

        h1 {
            margin: 0;
            margin-top: var(--content-main-heading-margin-top);
        }

        h3 {
            margin-bottom: var(--content-secondary-heading-margin-bottom);
        }

        ul {
            justify-content: var(--content-justify-content);
            margin-bottom: var(--content-list-margin-bottom);
        }
    }

    &-contact-me {
        margin-top: var(--contact-me-margin-top);
        float: var(--contact-me-float);
    }
}

@media (min-width: 768px) {
    :host {
        --container-text-align: start;
        --image-margin-left: 0;
        --content-justify-content: start;
        --content-float: left;
        --contact-me-float: right;
        --contact-me-margin-top: 39.24px;
        --content-list-margin-bottom: 0;
    }
}


@media (min-width: 992px) {
    :host {
        --image-margin-right: 2rem;
        --image-float: left;
        --content-main-heading-margin-top: 2rem;
        --contact-me-margin-top: 54.24px;
    }
}