<div class="container clearfix">
    <img ngSrc="/assets/profile-photo.jpg" alt="Profile picture" class="profile-image" width="200" height="200"
        priority>
    <div class="profile-content">
        <h1>Stefano Notaro Francesco</h1>
        <h3>Fullstack Developer</h3>
        <ul class="list-group list-group-numbered list-group-horizontal gap-3">
            <li *ngFor="let icon of faIcons.socialMedia">
                <a [href]="icon.href" role="button" target="_blank" (mouseenter)="icon.hover = true"
                    (mouseleave)="icon.hover = false">
                    <fa-icon [icon]="icon.icon" [classes]="['fa-2x', icon.hover ? 'fa-beat-fade' : '']">
                    </fa-icon>
                </a>
            </li>
        </ul>
    </div>

    <a [href]="'mailto: ' + environment.personalEmail + '?subject=Reaching out from portfolio'" role="button"
        class="btn btn-primary fw-semibold profile-contact-me">
        <fa-icon [icon]="faIcons.paperPlane"></fa-icon>
        {{ 'Contact Me' | uppercase }}
    </a>
</div>