html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  background-color: var(--app-background);
  color: aliceblue;
}

a[role=button] {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color)
}