@import './bootstrap';

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  background-color: var(--app-background);
  color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-100)
}

a {
  color: var(--accent-200);
  
  &:hover {
    color: var(--accent-300);
  }

  &[role=button] {
    color: inherit;
  }
}